<h2>Formulario</h2>

<form method="post" action="/edad">
   <label for="name">¿Como te llamas?</label>
   <input type="text" name="name" id="name">
   <br>
   <label for="age">¿Qué edad tienes?</label>
   <input type="text" name="age" id="age">
   <br>
   <button type="submit">Enviar</button>
</form>
<br>
<br>
<button type="button"><a href="/users">Ver usuarios</a></button>